# Ignorar archivos de configuración específicos de tu editor
.vs/
.idea/

# Ignorar archivos generados por el entorno de desarrollo
obj/

# Ignorar archivos de respaldo
*~

# Ignorar archivos de compilación y ejecutables
*.exe
*.dll
*.pdb

# Ignorar archivos de salida de Visual Studio
*.user
*.aps
*.ilk
*.pch
*.suo
*.ncb
*.sdf
*.opensdf
